.root {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.875rem 0;
    border-top: 1px solid #f4f4f4;

    @media (width<=56.25rem) {
        display: block;
    }
}

.itemInfo {
    display: flex;
    gap: 0.9375rem;
    align-items: center;

    h2 {
        font-size: 1.375rem;
    }

    p {
        color: #8d8d8d;
        font-size: 1.125rem;
    }

    img {
        width: 5rem;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    @media (width<=56.25rem) {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.itemControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23.75rem;

    .itemCounter {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        button {
            background-color: unset;
            border: 2px solid #fe5f1e;
            color: #fe5f1e;
            font-size: 24px;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: grid;
            place-content: center;
            cursor: pointer;
        }

        p {
        }
    }

    .price {
        font-weight: 700;
        font-size: 22px;
    }

    .deleteItem {
        width: 2rem;
        height: 2rem;
        border: 2px solid #d7d7d7;
        color: #d7d7d7;
        background-color: unset;
        border-radius: 50%;
        display: grid;
        place-content: center;
        font-size: 20px;
        cursor: pointer;
    }

    @media (width<=56.25rem) {
        width: 100%;
        justify-content: space-evenly;
    }
}
