.container {
  position: absolute;
  top: 150%;
  right: 0;
  background-color: white;
  box-shadow: 0 5px 15px #00000017;
  color: black;
  border-radius: 0.625rem;
  cursor: auto;

  li {
    padding: 10px 25px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: #fe5f1e;
      background-color: #fe5f1e0d;
    }
  }
}
